/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {

    margin: auto;
    overflow: hidden;
}

.navbar {
    background-color: #333;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

.content {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #bbbbbb;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.spacexlogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 4px;
    



}
